
@model IEnumerable<GerenciaFrota.Models.Veiculo>

<div id="tableListVeiculo">
    @if (Model != null && Model.FirstOrDefault()!= null)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoVeiculo.TipoVeiculoDescricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Chassi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroPassageiros)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cor)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoVeiculo.TipoVeiculoDescricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Chassi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroPassageiros)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cor)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Create", new { veiculoId = item.VeiculoId }) |                        
                        @Html.ActionLink("Delete", "Delete", new { veiculoId = item.VeiculoId })
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>Nenhum veículo encontrado.</p>
    }

</div>